@page "/"
<!--https://docs.microsoft.com/fi-fi/aspnet/core/tutorials/build-your-first-blazor-app?view=aspnetcore-3.0-->
<h1>Hello, world!</h1>

Welcome to your new app.

<!--<Counter /> <!--Saattaa näyttää virhettä, mutta toimii. Hakee Counter-komponentin Counter-sivulta, näyttää koko "sivun"-->-->
<Counter IncrementAmount="10" />
