<html>
    <head>
        <title>My web app</title>
    </head>
    <body>
        |@Html.ActionLink("Home", "Home")
        |@Html.ActionLink("Page1", "Page1")
        |@Html.ActionLink("Page2","Page2")|
        <hr />
        @RenderBody()
        <hr />
        CopyRight | @DateTime.Now.ToString()
    </body>
</html>